<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Alliance: The last Bastion</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution default="false" width="1680" height="1050" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <icon path ="gui/Application icon.png"/>
  </window>

  <gui>
    <atlas file="gui/atlas.png"/>
	  <icon_atlas file="gui/icon_atlas.png"/>
	  <popUps time="100"/>
  </gui>

  <scene>

    <Wood value="450"/>
    <Gold value="450"/>
    <Workers value="3"/>

    <Oil value="0"/>
  </scene>

  <wavecontroller>
    <initialWait value="100"/>
    <waitBetweenWaves value="70"/>
    <Spawns>
      <spawn x="2154" y="256"/>
      <spawn x="3605" y="1844"/>
      <spawn x="2177" y="3549"/>
      <spawn x="410" y="1982"/>
    </Spawns>
    <Costs>
      <cost value="1"/><!--Grunt-->
      <cost value="1"/><!--Axe thrower-->
      <cost value="4"/><!--Death Knight-->
      <cost value="6"/><!--Catapult-->
      <cost value="8"/><!--Dragon-->
      <cost value="10"/><!--Juggernaut-->
    </Costs>
  </wavecontroller>

  <video>
    <folder value ="videos/"/>
  </video>
</config>