<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution default="false" width="1920" height="1000" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
    <icon path ="gui/Application icon.png"/>
  </window>

  <gui>
    <atlas file="gui/atlas.png"/>
	  <icon_atlas file="gui/icon_atlas.png"/>
	  <popUps time="100"/>
  </gui>

  <scene>
    <Wood value="80000"/>
    <Gold value="30000"/>
    <Workers value="10"/>
    <Oil value="0"/>
  </scene>

  <wavecontroller>
    <initialWait value="1"/>
    <waitBetweenWaves value="80"/>
    <Spawns>
      <spawn x="2154" y="256"/>
      <spawn x="3605" y="1844"/>
      <spawn x="2177" y="3549"/>
      <spawn x="410" y="1982"/>
    </Spawns>
    <Costs>
      <cost value="1"/>
      <cost value="1"/>
      <cost value="4"/>
      <cost value="6"/>
      <cost value="8"/>
      <cost value="10"/>
    </Costs>
  </wavecontroller>
</config>