<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1680" height="1050" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <audio>
    <music> 
      <folder>audio/music/</folder>
      <musicVolumeModifier value="1" />
    </music>
   <sfx> 
      <folder>audio/fx/</folder>
      <sfxVolumeModifier value="1" />
    </sfx>
  </audio>
  
  <map>
    <folder>maps/</folder>
  </map>

  <entitycontroller>
    <deathTime value="10"/>
    <millMaxVillagers value="10"/>
    <workerWoodProduction value="2"/>
  </entitycontroller>

  <gui>
    <buttonFX source="Buttonsfx.wav"/>
    <atlas file="gui/atlas.png"/>
	<icon_atlas file="gui/icon_atlas.png"/>
	<popUps time="100"/>
  </gui>


  <scene>
    <starting_resources>


      <wood value="500"/>

      <gold value="20000"/>

      <workers value="3"/>

      <townHallLvl value ="0"/>
    </starting_resources>
  </scene>

  <wavecontroller>
    <initialWait value="120"/>
    <waitBetweenWaves value="80"/>
    <Spawns>
      <spawn x="2154" y="256"/>
      <spawn x="3605" y="1844"/>
      <spawn x="2177" y="3549"/>
      <spawn x="410" y="1982"/>
    </Spawns>
  </wavecontroller>
</config>